/* app css stylesheet */
body {
    padding-top: 20px !important;

}

.colleges {
    list-style: none;
}

.thumb {
    float: left;
    margin: -0.5em 1em 1.5em 0;
    padding-bottom: 1em;
    height: 100px;
    width: 100px;
}

.selection li {
    clear: both;
    height: 115px;
    padding-top: 15px;
}

.ng-table tr.emphasis td {
    background-color: #DDD;
    font-weight: bold;
}


.center {

    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;

}

.right {
    float: right;
    width: 200px;
    margin-bottom: 10px;
  }

.foot_c {
    clear: both;
    height: 23px;
    background-color: #121212;
    width: 100%;
}

.copy {
    color: #FFF;
    font-size: 11px;
    padding: 5px 0 0 5px;
    float: left;
}

.priv {
    float: right;
    padding: 5px 0 0 0;
}

.top {
    background-color: #000;
    height: 23px;
    width: 100%;
}
